<!--<form>
    <div class="form-group">
        <label for="name">姓名：</label>
        <input type="text" name="name" [formControl]="name" class="form-control" autocomplete="off">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="getName()">獲取姓名</button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="setName()">更改姓名</button>
    </div>
</form>

<div>
    name 控件的數據值：{{ name | json }}
</div>-->

<form [formGroup]="profileForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name">姓名：</label>
        <input type="text" id="name" formControlName="name" class="form-control" autocomplete="off" required
            minlength="4">
        <!--在用戶有改動數據 or 訪問控件之後才對數據的有效性進行驗證-->
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                姓名不能為空
            </div>
            <div *ngIf="name.errors.minlength">
                姓名信息不能少於 4 個字符長度
            </div>
            <div *ngIf="name.errors.nameinvalid">
                姓名無效
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="age">年齡：</label>
        <input type="number" id="age" formControlName="age" class="form-control" autocomplete="off" required step="1"
            max="100" min="1">
        <div *ngIf="profileForm.errors?.nameAgeInvalid && (profileForm.touched || profileForm.dirty)" class="alert alert-danger">
            lala 不能是 12 歲
        </div>
    </div>

    <div formGroupName="address">
        <div class="form-group">
            <label for="province">省：</label>
            <input type="text" id="province" formControlName='province' class="form-control" autocomplete="off"
                required>
        </div>
        <div class="form-group">
            <label for="city">市：</label>
            <input type="text" id="city" formControlName='city' class="form-control" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="district">區：</label>
            <input type="text" id="district" formControlName='district' class="form-control" autocomplete="off"
                required>
        </div>
        <div class="form-group">
            <label for="street">街道：</label>
            <input type="text" id="street" formControlName='street' class="form-control" autocomplete="off" required>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="updateProfile()">更新訊息</button>
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">數據提交</button>
</form>

<div>
    FormGroup 表單組控件的值：{{ profileForm.value | json }}
</div>