<form (ngSubmit)="submit()" #heroForm="ngForm" appCrossFieldValidate>
    <div class="form-group">
        <label for="name">姓名：</label>
        <!--將 ngModel 指令通過模板引用變量的形式暴露出來，從而獲取到控件的狀態-->
        <input type="text" name="name" id="name" [(ngModel)]="hero.name" class="form-control" autocomplete="off"
            required minlength="4" #name="ngModel" appHeroValidate>
        <!--在用戶有改動數據 or 訪問控件之後才對數據的有效性進行驗證-->
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                姓名不能為空
            </div>
            <div *ngIf="name.errors.minlength">
                姓名訊息不能少於 4 個字符長度
            </div>
            <div *ngIf="name.errors.nameInvalid">
                姓名無效
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="age">年齡：</label>
        <input type="text" name="age" id="age" [(ngModel)]="hero.age" class="form-control" required>
        <div *ngIf="heroForm.errors?.nameAgeInvalid && (heroForm.touched || heroForm.dirty)" class="alert alert-danger">
            lala 不能是 12 歲
        </div>
    </div>
    <div class="form-group">
        <label for="gender">性別：</label>
        <div class="form-check" *ngFor="let gender of genders">
            <input class="form-check-input" type="radio" name="gender" id="{{gender.id}}" value="{{gender.value}}"
                [(ngModel)]="hero.gender">
            <label class="form-check-label" for="{{gender.id}}">
                {{gender.text}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="location">住址：</label>
        <select name="location" id="location" [(ngModel)]="hero.location" class="form-control" required>
            <option value="{{location}}" *ngFor="let location of locations">{{location}}</option>
        </select>
    </div>
    <button type="submit" [disabled]="!heroForm.form.valid" class="btn btn-primary">Submit</button>
</form>

<p>
    表單的數據訊息：{{hero | json}}
</p>